<{include file="header.html"}>
<section>
    <section class="hbox stretch">
        <!-- .aside -->
        <{include file="menu.html"}>
        <!-- /.aside -->
        <section id="content">
            <section class="vbox">


            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
        <aside class="bg-light lter b-l aside-md hide" id="notes">
            <div class="wrapper">Notification</div>
        </aside>
    </section>
</section>
</section>
<script src="/static/js/app.v2.js"></script> <!-- Bootstrap --> <!-- App -->
<script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js" cache="false"></script>
<script src="/static/js/charts/sparkline/jquery.sparkline.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.tooltip.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.resize.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.grow.js" cache="false"></script>
<script src="/static/js/charts/flot/demo.js" cache="false"></script>
<script src="/static/js/calendar/bootstrap_calendar.js" cache="false"></script>
<script src="/static/js/calendar/demo.js" cache="false"></script>
<script src="/static/js/sortable/jquery.sortable.js" cache="false"></script>
<{include file="footer.html"}>